core/xsd/request/request.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:ws="https://wsieksport.unilogin.dk/ws" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:unil="https://unilogin.dk" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2003/05/soap-envelope" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema1.xsd" namespace="https://wsieksport.unilogin.dk/ws" />
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ws:eksporterXmlFuldMyndighed" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>